<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-4">
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name, placeholder: "Apple tree" %>
        <%= f.input :image_url, placeholder: "https://www.purprojet.com/wp-content/uploads/2016/04/apple-tree-01.jpg" %>
        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-end">
      <%= link_to 'Edit', edit_garden_path(@garden) %> |
      <%= link_to 'Back', gardens_path %>
    </div>
  </div>
</div>
